@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("reset.css");

@keyframes moving {
  from{background-position: bottom left;}
  to{background-position: bottom right;}
}

a {
  color: #2c9aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#big-title {
  font-size: 7.2rem;
  line-height: 4rem;
  margin-top: 0px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.background-runner {
  background-image: url("images/background.png");
  background-position: bottom left;
  width: 100%;
  height: 40rem;
  margin:70px auto 0;
  animation: moving 8s linear infinite reverse;
  background-size: contain;
}

.background-runner img {
  width: 800px;
  margin-top: -50px;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #393533;
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
  padding: 0 0px;
}


.btn {
  background-color: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #393533;
  border: 2px solid #69d8ed;
  border-radius: 50px;
  padding: 15px 25px;
  outline: none;
  display: block;
  box-sizing: border-box;
  opacity: 1;
  width: 170px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #69d8ed;
  z-index: -1;
  transform: translateY(-100%);
  transition: all .4s;
  border-radius: 0 0 50% 50%;
  height: 0%
}

.btn:hover:before {
  transform: translateY(0);
  height: 190%;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
}



#difference {
  margin: 0 0 0 0px;
  line-height: 3rem;
  box-sizing: border-box;
}

.emphasis {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
}

footer {
  text-align: center;
  width: 90%;
  margin: 100px auto 50px;
}

h1,
h2,
h3,
h4 {
  color: #1d1b19;
  text-align: center;
}
h1,
h2 {
  font-family: "Gochi Hand", cursive;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 20px;
  line-height: 4rem;
  text-align: left;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 3rem;
  margin-bottom: 10px;
}

html {
  font-size: 10px;
}

.hero-overlay {
  text-align: center;
  position: absolute;
  margin-top: 200px;
  width: 100%;
  
}

.intro {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  width: 100%;
  margin-bottom: 80px;
  margin-left: 20px;
}

.intro-img {
  width: 45%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
}

.intro-img:hover .intro-img__caption {
  transform: translateY(0);
}

.intro-img:hover img {
  transform: translateY(-25%);
}

#intro-img__img {
  width: 100%;
  transition: all .5s ease;
}

.intro-img__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #393533;
  transition: all 0.5s ease;
  transform: translateY(100%);
}

.intro-img__caption p {
  font-size: 2rem;
}

.intro-text {
  width: 45%;
}

.intro-text .btn {
  margin-top: 20px;
}

img {
  display: block;
  margin: 0px auto;
}

main {
  min-width: 318px;
  max-width: 1500px;
  box-sizing: border-box;
  padding-left: 18rem;
  padding-right: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.make-a-difference {
  box-sizing: border-box;
  width: 76rem;
  margin: 0 auto;
}

.make-a-difference img {
  width: 100%;
  display: block;
  transition: all .5s ease;
}

.make-a-difference__img {
  width: 70%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
  margin: 4rem auto 2rem;
}

.make-a-difference__img span {
  font-size: 3vw;
}

.make-a-difference__img:hover .make-a-difference__img__caption {
  opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.make-a-difference__img:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.make-a-difference__img__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0);
}

p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

#small-title {
  font-size: 1.8rem;
  line-height: 1rem;
  margin-top: 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.title {
  position: relative;
  background: url("images/image-cover.png") no-repeat center;
  height: 70vh;
  max-height: 600px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 8rem;
}

.what-to-bring {
  margin-bottom: 80px;
}

.what-to-bring li {
  list-style-type: none;
  width: 20%;
  max-width: 25rem;
}
.what-to-bring ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.what-to-bring__img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  transition: .45s ease;
}

.what-to-bring__img:hover {
  transform:rotate(15deg) scale(1.05);

}

ul {
  list-style: outside disc;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 65px;
}

@media screen and (max-width: 1000px) {
  /* Scale body to new minimum width */
  main {
    max-width: 1000px;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .make-a-difference {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-bottom: 80px;
    margin-left: 0px;
  }
  
  .intro-img {
    width: 100%;
  }
  
  #intro-img__img {
    width: 100%;
    margin-bottom: 3rem;
  }
  
  .intro-text {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  
  
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .make-a-difference {
    width: 100%;
  }
  .what-to-bring {
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .what-to-bring li {
    list-style-type: none;
    margin: 2rem auto;
    width: 70%;
  }
  .what-to-bring ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .what-to-bring__img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    transition: .45s ease;
  }

  .background-runner {
    background-image: url("images/background.png");
    background-position: bottom left;
    background-repeat: repeat-x;
    width: 100%;
    height: 25rem;
    margin:70px auto 0;
    animation: moving 6s linear infinite reverse;
    overflow: hidden;
    background-size: contain;

  }
  
  .background-runner img {
    width: 50rem;
    margin-top: -10px;
  }

  .title {
    height: 40vh;
  }

  .hero-overlay {
    text-align: center;
    position: absolute;
    margin-top: 10vh;
    width: 100%;
  }

}